body {
    background-color: #E5E5E5;
}

.container {
    text-align: center;
    margin: 1.5em auto;
}

.container > h1 {
    margin-bottom: 1em;
}

ul {
    list-style: none;
    padding-left: 0;
    text-align: left;
}

#contactList {
  padding-top: 2em;  
}

.contactListItem {
    background-color: #fff;
    padding: 1em;
    box-shadow: 0 12px 19px -8px black;
    border-bottom: 1px solid black;
}


.contactListItem > li:first-child {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 .5em;
}

.contactListItem > li:nth-child(2) {
    margin-top: 3em;
}

.fullInfo {
    display: none;
    text-align: left;
}

.fullInfo:first-child {
    margin-top: 2em;
}

.btn-danger {
    float: right;
    margin-top: -2.4em;
}


/*==================== form =====================*/

input[type="text"],
input[type="phone"],
input[type="email"] {
    border: none;
    background-color: transparent;
    color: black;
    border-bottom: 1px solid black;
    width: 80%;
    padding: 1rem 0;
    margin: 1rem;
}


::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+  */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}

#submitButton {
    margin-left: 36%;
}